---
import { FontDisplay } from '../../../page/FontDetails';
import data from '../../../../index.json';
import { TextWriter } from '../../../page/component/TextWriter';
import FontCoverage from '../../../components/fontDisplay/FontCoverage.astro';
import FontLayout from '../../../Layout/FontLayout.astro';
import { getFontReporter } from '../../../utils/getFontReporter';
export function getStaticPaths() {
    return Object.entries(data).flatMap(([key, val]) => {
        return val.remotePath.map((remote) => {
            const [_, name] = remote.match(/dist\/(.*?)\/result/)!;
            return { params: { font: key, name } };
        });
    });
}
const { font, name: font_name } = Astro.params;
const fileName = font_name!
    .replaceAll(' ', '_')
    // 更换文件夹中的 . 为 _
    .replace(/(?<=\/.*)\.(?=.*\/)/g, '_');
---

<FontLayout font_name={font_name!} font={font!}>
    <FontDisplay client:load />

    <section class="col-span-6">
        <header class="p-2 text-lg text-right">
            <span class="bg-blue-500 text-white p-2 rounded-md"> ✒️ 尝试字体</span>
        </header>
        <TextWriter client:load />
    </section>
</FontLayout>
