---
import Layout from '../Layout/Layout.astro';
import { SearchPage } from '../page/SearchPage';
import indexes from '../../index.json';
export const prerender = true;
---

<Layout>
    <nav>
        <a href="/" class="p-2 rounded bg-white"> 返回</a>
    </nav>
    <SearchPage info={indexes.packages} client:only="solid" />
</Layout>
