---
import { type CollectionEntry, getCollection } from 'astro:content';
import PostLayout from '../../Layout/PostLayout.astro';
import GlobalHeader from '../../components/GlobalHeader.astro';
import ArticleAside from '../../components/post/ArticleAside.astro';
import Navigate from '../../components/post/Navigate.astro';
import { TOC } from '../../components/post/TOC';

export async function getStaticPaths() {
    const posts = await getCollection('post');
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: post,
    }));
}

type Props = CollectionEntry<'post'>;
const post = Astro.props;
const { Content, headings } = await post.render();
---

<PostLayout title={post.data.title} description={post.data.description} article={post.data.article}>
    <GlobalHeader />

    <section class="flex h-full w-full gap-4 flex-1 overflow-hidden justify-center">
        <aside class="flex-col bg-white p-4 hidden md:flex h-full flex-none w-[15rem] z-10">
            <ArticleAside />
        </aside>
        <main
            class="flex-1 px-8 xs:px-12 lg:px-20 select-text relative z-10 overflow-scroll h-full w-full scroll-smooth"
        >
            <artcile id="main-article" class="heti m-auto block bg-white max-w-6xl py-12">
                <Content />
            </artcile>
            <Navigate />
        </main>
        <nav class="flex-none w64 bg-white p-4 hidden lg:block">
            <div class="font-bold text-lg">概要</div>
            <TOC heading={headings} />
        </nav>
    </section>
</PostLayout>
