---
import { CollectionEntry, getCollection } from 'astro:content';
import PostLayout from '../../Layout/PostLayout.astro';
import GlobalHeader from '../../components/GlobalHeader.astro';
import HeroImage from '../../components/HeroImage.astro';
import ArticleAside from '../../components/post/ArticleAside.astro';

export async function getStaticPaths() {
    const posts = await getCollection('post');
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: post,
    }));
}

type Props = CollectionEntry<'post'>;
const post = Astro.props;
const { Content } = await post.render();
---

<PostLayout title={post.data.title} description={post.data.description} article={post.data.article}>
    <GlobalHeader />

    <section class="flex h-full gap-4 flex-1 overflow-hidden pt-4 justify-center">
        <aside class="flex-col bg-white p-4 hidden md:flex h-full flex-none w-[15rem] z-10">
            <ArticleAside />
        </aside>
        <main
            class="bg-white max-w-4xl px-8 xs:px-12 lg:px-20 mb-24 select-text relative z-10 py-12 overflow-scroll h-full"
        >
            <artcile id="main-article" class="heti">
                <Content />
            </artcile>
            <!--  TODO 下一篇和上一篇文章 -->
        </main>
    </section>
</PostLayout>
