.an-scroll-list > * {
    animation: vertical-list linear both;
    animation-timeline: view();
    animation-range: contain contain;
}

@keyframes vertical-list {
    0% {
        transform: scale(0.75);
        opacity: 0.1;
    }
    15% {
        transform: scale(1);
        opacity: 1;
    }

    85% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.75);
        opacity: 0;
    }
}

.an-scroll-article > *:not(ol),
.an-scroll-article > ol > li,
.an-scroll-article > .line {
    animation: fade both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}

@keyframes fade {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}
