@import url('https://cdn.jsdelivr.net/npm/@fontsource/noto-serif-sc@5.0.2/700.min.css');

@font-face {
    font-family: 'post-header';
    font-weight: 600;
    src: local('Noto Serif SC Bold'), local('Noto Serif SC');
}
html {
    height: 100%;
    overflow: hidden;
}
.post-body {
    font-family: 'LXGW WenKai Light';
    height: 100%;
}
.heti {
    font-family: 'LXGW WenKai Light';
    font-size: medium;
    padding-left: 4rem;
    padding-right: 4rem;
}
.heti > p {
    text-indent: 2em;
    word-spacing: 0.3em;
}

.header-text {
    font-family: 'post-header', 'Noto Serif SC';
    font-weight: bolder;
}
.heti h1,
.heti h2,
.heti h3 {
    font-family: 'post-header';
    font-weight: bolder;
}
.heti img {
    margin: auto;
    max-width: 80%;
}

.article-level-1 {
}
.article-level-2 {
    margin-left: 0.5rem;
}
.article-level-3 {
    margin-left: 1rem;
}
.article-level-4 {
    margin-left: 1.5 rem;
}
.toc-item {
    padding-left: 0.5rem;
}
details > summary {
    list-style-type: '📘';
}

details[open] > summary {
    list-style-type: '📖';
}

.heti blockquote {
    margin: 0;
    border-radius: 4px;
}

.heti blockquote p {
    margin-block-end: 12px;
}
