<header
    class="print:hidden sticky z-20 w-full top-0 left-0 flex items-center gap-2 py-2 bg-white border-b border-neutral-300 px-12 text-white flex-wrap"
>
    <a href="/">
        <h1 class="text-black text-2xl">中文网字计划</h1>
    </a>
    <span class="flex-1"></span>
    <nav class="text-sky-700 flex gap-4">
        <a href="/online-split" class="hidden sm:block">在线分包</a>
        <a href="/article">文章</a>
        <a href="/showcase">灵感</a>
        <a href="/analyze">字体分析</a>
        <a href="/google" class="hidden sm:block">Google Fonts</a>
    </nav>
</header>
