body {
    margin: 0;
    overflow-x: hidden;
    @apply select-none bg-neutral-100;
}
body {
    --defaultFont: 'jiangxizhuokai';
    font-family: var(--defaultFont), 'jiangxizhuokai';
}
.poetry {
    writing-mode: tb-rl;
}

a > button {
    @apply transition-colors;
}
a > button:hover {
    @apply text-amber-400;
}
.font-global .en-words {
    font-size: 0.75rem;
}

/* 搜索区域的动画 */
.search-results .tag-button {
    @apply transition-transform active:scale-110;
}
/* 用户区域的动画 */
.user-selected .tag-button {
    @apply transition-transform active:scale-95;
}

body::before {
    content: '';
    width: 100%;
    height: 100%;
    background-image: url('/noise.png');
    position: fixed;
    top: 0;
    z-index: -1;
    opacity: 0.05;
    pointer-events: none;
    touch-action: none;
}
.blur-background {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
.btn {
    @apply mx-1 flex-none cursor-pointer select-none rounded border  border-solid border-gray-700 bg-gray-800  px-2 font-thin transition-all active:bg-gray-700;
}
.input {
    @apply rounded-lg border border-solid border-gray-600 bg-gray-700 px-4 py-1 text-gray-200 shadow-md outline-none;
}

.special-tags {
    @apply underline underline-offset-2;
}
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    width: 4px;
    border-radius: 4px;
    @apply bg-neutral-300;
}
/* 滚动条轨道 */
::-webkit-scrollbar-track {
    background-color: transparent;
}

.hover-cover-btn {
    @apply rounded-md border border-transparent p-4 transition-all;
}
.hover-cover-btn:hover {
    @apply border-neutral-400  backdrop-blur-sm;
}
