@import url('https://unpkg.com/@chinese-fonts/jxzk@1.1.0/dist/江西拙楷/result.css');
body {
    margin: 0;
    overflow: hidden;
    @apply select-none bg-neutral-100;
}
body {
    --defaultFont: 'jiangxizhuokai';
    font-family: var(--defaultFont), 'jiangxizhuokai';
}
.poetry {
    writing-mode: tb;
    white-space: pre-wrap;
    letter-spacing: 0.4em;
}
.poetry p {
    @apply px-3 text-lg text-gray-700;
}

a > * {
    @apply text-amber-600;
}
.font-global .en-words {
    font-size: 0.75rem;
}

#app {
    height: 100vh;
    width: 100vw;
}

/* 搜索区域的动画 */
.search-results .tag-button {
    @apply transition-transform active:scale-110;
}
/* 用户区域的动画 */
.user-selected .tag-button {
    @apply transition-transform active:scale-95;
}

body::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('/noise.png');
    position: absolute;
    z-index: -1;
    opacity: 0.05;
    pointer-events: none;
    touch-action: none;
}
.blur-background {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
.btn {
    @apply mx-1 flex-none cursor-pointer select-none rounded border  border-solid border-gray-700 bg-gray-800  px-2 font-thin transition-all active:bg-gray-700;
}
.input {
    @apply rounded-lg border border-solid border-gray-600 bg-gray-700 px-4 py-1 text-gray-200 shadow-md outline-none;
}

.special-tags {
    @apply underline underline-offset-2;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    width: 4px;
    border-radius: 4px;
    @apply bg-gray-600;
}
/* 滚动条轨道 */
::-webkit-scrollbar-track {
    background-color: transparent;
}
