body {
    margin: 0;
    overflow: hidden;
    @apply select-none bg-slate-900;
}

.font-global {
    font-family: 'aclonica', 'jiangxizhuokai';
}
.font-global .en-words {
    font-size: 0.75rem;
}

#app {
    height: 100vh;
    width: 100vw;
}

/* 搜索区域的动画 */
.search-results .tag-button {
    @apply transition-transform active:scale-110;
}
/* 用户区域的动画 */
.user-selected .tag-button {
    @apply transition-transform active:scale-95;
}
.bg-grid {
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px !important;
    background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px !important;
    background-blend-mode: difference !important;
    background-image: linear-gradient(rgb(130 130 130 / 35%) 1px, transparent 1px),
        linear-gradient(90deg, rgb(130 130 130 / 28%) 1px, transparent 1px),
        linear-gradient(rgb(130 130 130 / 37%) 1px, transparent 1px),
        linear-gradient(90deg, rgb(130 130 130 / 38%) 1px, transparent 1px) !important;
}
.blur-background {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
.btn {
    @apply mx-1 flex-none cursor-pointer select-none rounded border  border-solid border-gray-700 bg-gray-800  px-2 font-thin transition-all active:bg-gray-700;
}
.input {
    @apply rounded-lg border border-solid border-gray-600 bg-gray-700 px-4 py-1 text-gray-200 shadow-md outline-none;
}

.special-tags {
    @apply underline underline-offset-2;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    width: 4px;
    border-radius: 4px;
    @apply bg-gray-600;
}
/* 滚动条轨道 */
::-webkit-scrollbar-track {
    background-color: transparent;
}
